.Table_head_left
{
    height: 38px;
    background-image: url(images/Table_head_left.gif);
    background-repeat: no-repeat;
}
.Table_head_right
{
    height: 38px;
    background-image: url(images/Table_head_right.gif);
    background-repeat: no-repeat;
}
.Table_head_center
{
    height: 38px;
    width: 250px;
    background-image: url(images/Table_head_center.gif);
    background-repeat: repeat-x;
    font-weight: bold;
    color: Black;
    font-size: 13pt;
    text-align: center;
    
}
.Table_foot_left
{
    height: 38px;
    width: 9px;
    background-image: url(images/Table_foot_left.gif);
    background-repeat: no-repeat;
}
.Table_foot_right
{
    height: 38px;
    width: 9px;
    background-image: url(images/Table_foot_right.gif);
    background-repeat: no-repeat;
}
.Table_foot_center
{
    height: 38px;
    width: 250px;
    background-image: url(images/Table_foot_center.gif);
    background-repeat: repeat-x;
    font-weight: bold;
    color: White;
    font-size: 10pt;
}
.bg_Table
{
    width: 120px;
    height:280px;
    background-image: url(images/bg_table.png);
    background-repeat: repeat;
  
}
.hight_content
{
    height: 250px;
    display:block;
}
.text_left
{
    text-align: left;
}
.text_right
{
    text-align: right;
}
.Nhan
{
    width: 48px;
    height: 48px;
    background: red;
    border-radius: 5px; /*do bo goc */
     -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: bold;
    text-align: center;
    color: White;
}
.Cho
{
    width: 48px;
    height: 48px;
    background: blue;
    border-radius: 5px; /* do bo goc */
      -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-weight: bold;
    text-align: center;
    color: White;
}
.Trong
{
    width: 48px;
    height: 48px;
    border-radius: 5px; /* do bo goc */ /* background-image:url(images/bgiconwow.gif);*/ /* background-width:60px;     background-height:60px;*/
      -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-repeat: no-repeat;
    border: 1px solid #CCC;
    background: #F4F4F4 url(images/bgiconwow.png) center center no-repeat; /* display: block;*/
    margin: 0;
}
.bg_content
{
    width: 230px;
    background-image: url(../images/bg_contentuc.gif);
    background-position: left top;
    background-repeat: repeat;
}

.lvlBarbg
{
    position: relative;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    color: white;
    width: 180px;
    height: 32px;
    border-radius: 5px; /*do bo goc*/
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px;
    font-weight: bold;
    font-size: 18px;
    padding: 0;
    line-height:normal ;
    background:gray;
    box-shadow: none;
    -webkit-box-shadow: none; 
    -moz-box-shadow: none;
    border: none;
}

.currentLvl
{
    text-align: left;
    position: absolute;
    top: 3px;
    left: 2px;
    font-weight: bold;
    color: white;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    font-size: 18px;
}
.nextLvl
{
    text-align: right;
    position: absolute;
    top: 3px;
    right: 2px;
    font-weight: bold;
    color: white;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    font-size: 18px;
}
.MauChu
{
    color: black;
   text-align:right;
}
.bg_regis
{
    background-image: url(images/bg_register.png);
    background-repeat: repeat-x;
}
.bg_regis_L
{
    background-image: url(images/bg_register_left.png);
    
    background-repeat: no-repeat;
    height:100%;
  width:20px;
    font-weight:bold;
    color:Blue;
}
.bg_regis_C
{
    background-image: url(images/bg_register_center.png);
    background-repeat: repeat-x;
     height:100%;
}
.bg_regis_R
{
    background-image: url(images/bg_register_right.png);
    background-repeat: no-repeat;
     height:100%;
       width:30px;
}
#imavatar
{
    width:80px;
    height:80px;
}
.AA
{
    color:Blue;
}
.AA:hover
{
   color:White;
}
.AA:visited
{
    color:Blue;
}
.forgot
{
    color:blue;
    /*font-style:italic;*/
    font-size:13;
    text-decoration: none;
}
.forgot:hover
{
   color:Maroon;
}
.forgot:visited
{
    color:blue;
     font-style:italic;
}
.bogocbt
{
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #24d235;
    padding: 1px 1 1 1;
    height: 45px; /*box-shadow: 5px -3px 5px #ccc;*/ /*tao bong do*/
   vertical-align:middle;
    border: 1px solid #F15937;
   
}
.bogocbt:hover
{
    background-color: #18863F;
    
}
.btlogin
{
    color: white;
    font-size: large;
    font-weight: bold;
    border-style: none;
    text-align: center;
    background-color: Transparent;
    text-shadow: 0px -1px #FF562E;
    
    
}
.lbLogin
{
   
    font-weight:bold;
    color:#404040;
    font-size: 40px;
}
.input
{
   
    font-weight:bold;
   
    font-size:x-large;
    height:30px;
   width:300px;
}
div.scroll {
height: 750px;
width: 808px;
overflow:auto;
/*border: 1px solid #666;*/
/*background-color: #ccc;*/
/*padding: 8px;*/
}
div.scrollHiden {
height: 750px;
width: 750px;
overflow:hidden;

}
.wrapper {
width: 100%;
height:100%;
vertical-align:middle;
}
.font
{
    font-family: arial ,helvetica,sans-serif;
    line-height: 1.2;
    direction: ltr;
    
}
.thongke
{
    font-family: arial;
    text-align: right;
    font-size: smaller;
    font-weight:normal;
    color: Yellow;
}