<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
   
    <add key="fromemail" value="notification@marico.com" />
    <add key="useremail" value="notification@marico.com" />
    <add key="smtp" value="smtp.office365.com" />
    <add key="smtpport" value="587" />
    <add key="ssl" value="true" />
    <add key="sslsql" value="0" />
    <add key="pass" value="Icp@2016" />
    <add key="pop" value="mail.marico.com" />
    <add key="LDAPDomain" value="LDAP://172.17.0.250" />
    <add key="email" value="@icpvn.com|@danongdichthuc.vn|@icpvietnam.com|@tpfood.com.vn|@maricoindia.net|@marico.com" />
    <add key="domain" value="https://fin.maricosea.com" />
    <add key="loadwowdefault" value="https://fin.maricosea.com" />
   
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="FINConnectionString" connectionString="Data Source=172.17.0.88;Initial Catalog=FIN_TEST;Persist Security Info=True;User ID=sa;Password=T@tC@C0L3n" providerName="System.Data.SqlClient" />
   
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
    <compilation debug="true" targetFramework="4.0" defaultLanguage="c#">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms timeout="5000000" defaultUrl="Default.aspx" />
    </authentication>
    <!--<authorization>
      <allow users="*"/>
    </authorization>
    <identity impersonate="true"/>-->
    <sessionState timeout="500000" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" maintainScrollPositionOnPostBack="true" enableSessionState="true">
      <controls>
        <add tagPrefix="AjaxControls" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" />
      <!--<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />-->
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
    </pages>
    <httpHandlers>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
    </httpHandlers>
    <!--<machineKey  decryption="AES" decryptionKey="..." validation="HMACSHA256" validationKey="..." />-->
    <!--<machineKey validationKey="1234567890123456789012345678901234567890AAAAAAAAAA"
     decryptionKey="123456789012345678901234567890123456789012345678"
     validation="SHA1" decryption="Auto" />-->
    <!--<machineKey decryptionKey="4395B5D8DC852D0C12D6931EE9334680D8CC5A83541836F0,IsolateApps" validationKey="A192DAFFD732295A2D67B89514B64774B999EB8E6A9F04C74E017A8C46F734DCCA5A72DD047E4D43A048254153D6C3DF984CB9B9433E9E247E14323B51C8940F,IsolateApps" />-->
   
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".7z" mimeType="application/x-zip-compressed" />
    </staticContent>
    <handlers>

      <add name="Telerik.RadUploadProgressHandler.ashx_*" path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.RadUploadProgressHandler, Telerik.Web.UI" preCondition="integratedMode,runtimeVersionv2.0" />

    </handlers>
    <!--<rewrite>
      <rules>
        <rule name="http to https" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
          
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:0}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <runtime>
    <assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="AjaxControlToolkit" publicKeyToken="28f01b0e84b6d53e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.30512.19702" newVersion="3.0.30512.19702" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71e9bce111e9429c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    
    </assemblyBinding>
  </runtime>
</configuration>